.button_primary,
.button_secondary,
.button_danger,
.button_tertiary {
	border: none;
	font-family: inherit;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;

	&_m {
		font-size: 1rem;
		font-weight: 400;
	}

	&_s {
		font-size: 0.9rem;
		font-weight: 500;
	}

	&_b {
		padding: 1rem 1.5rem;
		font-size: 1rem;
		font-weight: 500;
	}
}

.button {
	&_full {
		width: 100%;
	}
}

.button_primary {
	background: #dbff01;
	color: #006446;

	&:hover {
		background: #cef000;
		cursor: pointer;
	}
}

.button_secondary {
	background: #ffffff;
	color: #006446;

	border: 1px solid #0e4536;

	&:hover {
		background: #f5fffc;
		cursor: pointer;
	}
}

.button_tertiary {
	background: #ffffff;
	color: #006446;

	text-decoration: underline;

	&:hover {
		background: #f1f2f3;
		cursor: pointer;
	}
}

.button_danger {
	background: #ef5350;
	color: #ffffff;

	&:hover {
		background: #e93835;
		cursor: pointer;
	}
}

.button_danger,
.button_primary,
.button_secondary {
	&:disabled {
		background: #e3e5e8;
		color: #838895;
	}
}

.button__content {
	display: flex;
	align-items: center;
	gap: 8px;
}
