.login-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
}

.login-container {
    width: 23rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 10.5rem;
    height: auto;
    margin-bottom: 2.5rem;
}

.redirect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    a {
        color: #006446;
        text-underline-offset: 2px;
    }
}

.forgot-password-link {
    a {
        text-decoration: none;
    }
}