.form {
  width: 100%;
  margin: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1.5rem;
  
  .error_message {
    width: 100%;
    height: fit-content;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF1500;
  }

  h3 {
    font-size: 1.5rem;
  }

  span {
    color: #5E626E;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .checkbox-container {
    align-self: flex-start;
  }

  .form-header {
    width: 100%;
    gap: 1.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}