.form {
  margin: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  
  .error_message {
    width: 200px;
    height: 17px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF1500;
  }

  button {
    margin-top: 16px;
  }
}