.tabs {
   :root {
      --tab-padding: 1rem;
   }
   position: relative;

   &::before {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
      border-bottom: 1px solid #e3e5e8;
   }

   .tab__label {
      font-family: inherit;
      font-weight: 500;
      font-size: 0.9rem;
      padding: var(--tab-padding);
      color: #838895;
      cursor: pointer;

      &_selected {
         color: #26272c;
         position: relative;

         &::after {
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            border-bottom: 2px solid #26272c;
         }
      }
   }
}
