.card {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem;
   border: 1px solid #e3e5e8;
   border-radius: 0.5rem;
}

.card__title {
   font-size: 1.125rem;
   font-weight: 500;
   line-height: 1.5rem;
   text-align: left;
}

.card__content {
   &__main {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
   }
   &__details {
      p {
         margin-top: 0.5rem;
         font-size: 0.875rem;
         font-weight: 500;
         line-height: 1rem;
         text-align: left;
         span {
            color: #464a53;
         }
      }
   }
}

.card__status {
   display: flex;
   align-items: center;
   gap: 0 3rem;
   &__title {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5rem;
   }
   &__subtitle {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1rem;
      color: #838895;
   }
}
