.modal {
	font: inherit;
	&__competences {
		display: flex;
		gap: 0 1.5rem;
		&__card {
			width: 267px;
			height: 330px;
			border-radius: 0.5rem;
			cursor: pointer;
			&_empty {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 2px dashed #acb0b9;
				color: #5e626e;
			}
		}
	}

	&__interview {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #ffffff;
		--header-comp-padding: 1.5rem 1.5rem;
	}
	&__icon {
		color: #5e626e;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
	&__main {
		padding-top: 4rem;
		padding-left: 150px;
	}

	&__info {
		max-width: 536px;
		&__step {
			color: #838895;
			font-weight: 500;
			font-size: 0.9rem;
		}
		&__title {
			margin-top: 1rem;
			color: #26272c;
			font-weight: 500;
			font-size: 1rem;
		}
		&__paragraph {
			margin-top: 0.8rem;
			margin-bottom: 3rem;
			color: #5e626e;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
}
